.pixel-btn {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: #fff;
    border: 4px solid #000;
    box-shadow: 4px 4px 0 #000;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
    text-transform: uppercase;
}

.pixel-btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 #000;
}

.pixel-btn:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

.pixel-btn:disabled {
    background-color: #777;
    cursor: not-allowed;
    transform: none;
    box-shadow: 4px 4px 0 #000;
}

.pixel-input {
    font-family: 'Press Start 2P', cursive;
    padding: 1rem;
    font-size: 1rem;
    border: 4px solid #000;
    box-shadow: 4px 4px 0 #000;
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
}

.pixel-input:focus {
    background-color: #fffaaa;
}